* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif
}

body {
    background-color: #000;
    min-height: 200vh;

}

header {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header .sticky {
    padding: 5px 100px;
    background: #fff;

}

header .logo {
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    margin: 0px 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}

.banner {
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/background.jpg);
    background-size: cover;
}

header.sticky .logo,
header.sticky ul li a {
    color: #000;
}


/*--------------------for textbox------------------------------*/

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}

.text-box h1 {
    font-size: 65px;
}

.text-box p {
    margin: 10px 0px 30px;
    font-size: 15px;
    color: #fff;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #552f9ccc;
    background: #552f9ccc;
    transition: 0.5s;
}

nav .fa {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: fixed;
        background: #552f9ccc;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.3s;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links ul {
        padding: 30px;
    }
}


/*---------------------company slider------------------------------*/

.sliderrr{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    background: #0e0c1aec;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))
  }
  
  h1{
    font-size: 36px;
    font-weight: 600;
    color: white;
    text-align: center;
  }
  .slider{
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
  }
  
  .slides{
    width: 500%;
    height: 500px;
    display: flex;
  }
  
  .slides input{
    display: none;
  }
  
  .slide{
    width: 20%;
    transition: 1s;
  }
  
  .slide img{
    width: 800px;
    height: 500px;
  }
  
  /*css for manual slide navigation*/
  
  .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
  }
  
  .manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
  }
  
  .manual-btn:not(:last-child){
    margin-right: 40px;
  }
  
  .manual-btn:hover{
    background: #40D3DC;
  }
  
  #radio1:checked ~ .first{
    margin-left: 0;
  }
  
  #radio2:checked ~ .first{
    margin-left: -20%;
  }
  
  #radio3:checked ~ .first{
    margin-left: -40%;
  }
  
  /* #radio4:checked ~ .first{
    margin-left: -60%;
  } */
  
  /*css for automatic navigation*/
  
  .navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
  }
  
  .navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 0.5s;
  }
  
  .navigation-auto div:not(:last-child){
    margin-right: 40px;
  }
  
  #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
  }
  
  #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
  }
  
  #radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
  }
  
  /* #radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
  } */


  /*---------------------Resources------------------------------*/

.resources {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bookstore.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
}
    
    h2{
        color: rgb(80, 80, 80);
        font-weight: 300;
    }
    
    
    h1{
        font-size: 36px;
        font-weight: 600;
    }


    h3{
        color: black;
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
        
    }
    
    h4{
        color: rgb(0, 0, 0);
        text-align: center;
        font-weight: 100;
        padding-bottom: 20px;
        margin: 10px 0;
    }
    
    
    p{
        color: rgb(197, 197, 197);
        font-size: 12px;
        font-weight: 300;
        line-height: 12px;
        padding-bottom: 1px;
        
    }
    
    .row1{
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .row2{
        margin-top: 0%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 50px;
    }
    
    .r-column{
        flex-basis: 35%;
        background-color: #ffffff;
        border-radius: 10px;
        margin-bottom: 2%;
        padding: 30px 12px;
        box-sizing: border-box;
        transition: 0.2s;
    }


    .r-column:hover{
        box-shadow: 0 0 20px 0 rgba(255, 254, 254, 0.2);
        transform: scale(1.01);
    }
    


    @media(max-width: 700px){
        .row1{
            flex-direction: column;
        }
        .row2{
            flex-direction: column;
        }
    }


    /*---------------------blogs  page------------------------------*/

.blogs {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/bookstore.jfif);
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 8%;
}
    
    h2{
        color: rgb(228, 228, 228);
        font-weight: 300;
    }
    
    
    h1{
        font-size: 36px;
        font-weight: 600;
        color: #fff;
    }
    
    
    p{
        color: #777;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        padding: 10px;
    }
    
    .row1{
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
    }


    


    /*---------------------contact us------------------------------*/

.contactus{
    background-color: #0e0c1aec;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))

}
    .location{
        width: 80%;
        margin: auto;
        padding: 80px 0;
    
    }
    
    
    .location h2{
        text-align: center;
    }
    
    
    .location h1{
        text-align: center;
    }
    
    .location iframe{
        padding-top: 40px;
        width: 100%;
    }
    
    
    .contact-us{
        width: 80%;
        margin: auto;
    
    }
    
    
    .row{
        display: flex;
        justify-content: space-evenly;
    }
    
    
    .contact-col{
        flex-basis: 48%;
        margin-bottom: 30px;
    }
    
    .contact-col div{
        display: flex;
        align-items: center;
        margin-block: 40px;
    }
    
    .contact-col div .fa{
        font-size: 28px;
        color: #552f9ccc;
        margin: 10px;
        margin-right: 30px;
    }
    
    .contact-col div p{
        padding: 0;
    }
    
    .contact-col div h5{
        font-size: 20px;
        margin-bottom: 5px;
        color: rgb(150, 149, 149);
        font-weight: 400;
    }
    
    .contact-col input, .contact-col textarea{
        width: 100%;
        padding: 15px;
        margin-bottom: 17px;
        outline: none;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    
    .purp-btn{
        border: 1px solid #552f9ccc;
        background: transparent;
        color: #552f9ccc;
    }
    
    .purp-btn:hover{
        color: #fff;
    }

    /*---------------------footer------------------------------*/
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
    
}
    
    .footer h4{
        margin-top: 20px;
        margin-bottom: 25px;
        font-weight: 600;
        color: black;
    }
    .footer p{
        font-weight: 50;
        font-size: small;
    }
    .icons .fa{
        color: #552f9ccc;
        margin: 0 13px;
        cursor: pointer;
        padding: 20px 0;
    }


    .footer-row1{
        margin-top: 2%;
        display: flex;
        justify-content: space-evenly;
    }
    
    .footer-row2{
        margin-top: 0%;
        display: flex;
        justify-content: space-evenly;
        padding-bottom: 50px;
    }
        
    .footer-col{
        flex-basis: 48%;
        margin-bottom: 30px;
    }
    /*---------------------notes page-----------------------------*/


.notes{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    font-size: 24px;
    background: url(images/background.jpg);
}

    .dark__theme{
        width: 100%;
        background-color: #0e0c1aec;
        z-index: 1;
        
        position: relative;
        /* background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7))  */
    }

    .row{
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
    }


    /* .notes-col{
        flex-basis: 31%;
        background: #fff3f3;
        border-radius: 10px;
        margin-bottom: 5%;
        text-align: center;
        font-size: 14px;
        padding: 20px 12px;
        
    } */

    .notes-col{
        flex-basis: 35%;
        background-color: rgb(158, 150, 165);
        border-radius: 10px;
        margin-bottom: 2%;
        padding: 30px 12px;
        box-sizing: border-box;
        transition: 0.2s;
        height: 200px;
        width: 600px;
    }

    h3{
        color: black;
        text-align: center;
        font-weight: 600;
        margin: 10px 0;
        
    }

    h1{
        font-size: 36px;
        font-weight: 600;
        color: white;
        padding-bottom: 40px;
    }

    p{
        color: rgb(117, 108, 108);
        font-size: 14px;
        font-weight: 300;
        line-height: 14px;
        padding-bottom: 20px;
        padding-top: 20px;
        
    }


    


    .notes-col:hover{
        box-shadow: 0 0 20px 0 rgba(255, 254, 254, 0.2);
        transform: scale(1.01);
    }




